{% extends 'kids/base.html' %}
{% comment %} Lista de alumnos {% endcomment %}
{% block titulo %}Lista de Alumnos{% endblock %}
{% block encabezado %}Lista de Alumnos{% endblock %}
{% block contenido %}
<table class="alumnos">
{% for alumno in alumnos %}
    <tr>
        <td>
            <a href="/kids/alumnos/editar/{{alumno.id}}">
                <img src="{{ alumno.thumb }}" width=50px>
            </a>
        </td>
        <td>
            <a href="/kids/alumnos/editar/{{alumno.id}}">
                {{ alumno.profile }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>
<a href="alumnos/crear">Añadir</a>
{% endblock %}
{% block javascript %}{% endblock %}
