{% extends 'kids/base.html' %}
{% comment %}Alumnos del Salón{% endcomment %}
{% block titulo %}Alumnos del Salón{% endblock %}
{% block encabezado %}Alumnos del Salón{% endblock %}
{% block contenido %}
<h2>Asistencia del dia {{ dia }}</h2>
<table class="alumnos">
{% for alumno in alumnos %}
    <tr>
        <td>
            <a href="/kids/asistencia?alumno={{alumno.id}}">
                <img src="{{ alumno.thumb }}" width=50px>
            </a>
        </td>
        <td>
            <a href="/kids/asistencia?alumno={{alumno.id}}">
                {{ alumno.user }}
            </a>
        </td>
        <td>
            {% if alumno.asistio %}
                Si
            {% else %}
                No
            {% endif %}
        </td>
        <td>
            <a href="/kids/alumnos/editar/{{alumno.id}}">
                Detalles
            </a>
        </td>
    </tr>
{% endfor %}
</table>
<a href="/kids/alumnos/crear">Añadir</a>
{% endblock %}
{% block javascript %}{% endblock %}
