{% extends 'kids/base.html' %}
{% comment %}Alumnos del Salón{% endcomment %}
{% block titulo %}Alumnos del Salón{% endblock %}
{% block encabezado %}Alumnos del Salón{% endblock %}
{% block contenido %}
<ul class="alumnos">
{% for alumno in alumnos %}
    <li>
    <img src="{{ alumno.thumb }}" width=50px>
    <a href="/kids/asistencia?alumno={{alumno.id}}">
    {{ alumno.user }}
    </a>
    {% if alumno.asistio %}
        Si
    {% else %}
        No
    {% endif %}
</li>
{% endfor %}
</ul>
<a href="/kids/alumnos/crear">Añadir</a>
{% endblock %}
{% block javascript %}{% endblock %}
