{% extends 'kids/base.html' %}
{% comment %}Alumnos del Salón{% endcomment %}
{% block titulo %}Alumnos del Salón{% endblock %}
{% block encabezado %}Alumnos del Salón{% endblock %}
{% block contenido %}
<h2>Asistencia del dia {{ dia }}</h2>
<table class="alumnos">
{% for alumno in alumnos %}
    <tr>
        <td>
            <a href="/kids/asistencia?alumno={{alumno.id}}">
                <img src="{{ alumno.thumb }}" width=50px>
            </a>
        </td>
        <td>
            <a href="/kids/asistencia?alumno={{alumno.id}}">
                {{ alumno }}
            </a></br> Pts: {{alumno.puntos}}
        </td>
        <td>
            {% if alumno.asistio %}
            <form method="POST"
            action="/kids/punto?asistencia={{alumno.asistencia.id}}&next=/kids/salon/{{salon}}">
            {% csrf_token %}
            <input type="submit" value="+1">
            <select name="motivo">
                {% for motivo in motivos %}
                <option value="{{motivo.id}}">
                    {{ motivo.nombre }}
                </option>
                {% endfor %}
            </select>
            </form>
            {% else %}
                <a href="/kids/asistencia?alumno={{alumno.id}}">
                <img src="/static/png/kids/x.png" width=16px>
            </a>
            {% endif %}</br>
            <a href="/kids/alumnos/editar/{{alumno.id}}">
                Detalles
            </a>
        </td>
    </tr>
{% endfor %}
</table>
<a href="/kids/alumnos/crear">Añadir</a>
{% endblock %}
{% block javascript %}{% endblock %}
