<!DOCTYPE html>
<html lang='es'>
<head>
    <meta http-equiv="content-language" content="es">
    <meta charset="utf-8" name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Operacion 12D.C. - {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/kids.css">
</head>
<body {% block iniciar %}{% endblock %}>
    <header>
        Ministerio de Niños Operacion 12D.C.
        <nav>
            <a class="menu" href="/">Inicio</a>
            <a class="menu" href="/ingresar">Ingresar</a>
            <a class="menu" href="/kids">Niños</a>
            <a class="menu" href="/salir">Salir</a>
        </nav>
    </header>
    <section class='contenido'>
        <h2>{% block encabezado %}{% endblock %}</h2>
        {% block contenido %}{% endblock %}
    </section>
    <footer>
        <p>Desarrollado por Iglesia "La Palabra y El  Espíritu"</p>
    {% block javascript %}{% endblock %}
    </footer>
</body>
</html>

