{% extends 'kids/base.html' %}
{% comment %} Lista de clases {% endcomment %}
{% block titulo %}Lista de Clases{% endblock %}
{% block encabezado %}Lista de Clases{% endblock %}
{% block contenido %}
<table class="clases">
{% for clase in clases %}
    <tr>
        <td>
            <a href="/kids/clases/editar/{{clase.id}}">
                {{ clase.orden }}
            </a>
        </td>
        <td>
            <a href="/kids/clases/editar/{{clase.id}}">
                {{ clase.nombre }}
            </a>
        </td>
        <td>
            <a href="/kids/clases/pdf/{{clase.id}}">
                PDF
            </a>
        </td>
    </tr>
{% endfor %}
</table>
<a href="clases/crear">Añadir</a>
{% endblock %}
{% block javascript %}{% endblock %}
